XAddPixel/XAddPixel
XClipBox/XClipBox
XCreateBitmapFromData/XCreateBitmapFromData
XCreateImage/XCreateImage
crtpxmpfrm/crtpxmpfrm
crtrgn/crtrgn
dltcntxt/dltcntxt
dstryimg/dstryimg
dstryrgn/dstryrgn
emptyrgn/emptyrgn
eqlrgn/eqlrgn
fndcntxt/fndcntxt
ftchbffr/ftchbffr
ftchbyts/ftchbyts
gtdflt/gtdflt
gtdflt/Test3
gtdflt/Test4
gtdflt/Test5
gtpxl/gtpxl
gtvslinf/gtvslinf
intrsctrgn/intrsctrgn
iscrsrky/iscrsrky
isfnctnky/isfnctnky
iskypdky/iskypdky
ismdfrky/ismdfrky
ismscfnctn/ismscfnctn
ispfky/ispfky
kycdtkysym/kycdtkysym
XKeysymToKeycode/XKeysymToKeycode
kysymtstr/kysymtstr
lkpkysym/lkpkysym
lkpstr/lkpstr
mtchvslinf/mtchvslinf
offstrgn/offstrgn
plygnrgn/plygnrgn
pntinrgn/pntinrgn
prmllc/prmllc
prsgmtry/prsgmtry
ptpxl/ptpxl
rbndkysym/rbndkysym
rctinrgn/rctinrgn
rdbtmpfl/rdbtmpfl
rfrshkybrd/rfrshkybrd
rttbffrs/rttbffrs
sbimg/sbimg
sbtrctrgn/sbtrctrgn
shrnkrgn/shrnkrgn
strbffr/strbffr
strbyts/strbyts
strgn/strgn
XStringToKeysym/XStringToKeysym
svcntxt/svcntxt
unnrctwthr/unnrctwthr
unnrgn/unnrgn
unqcntxt/unqcntxt
wmgmtry/wmgmtry
wrtbtmpfl/wrtbtmpfl
xrrgn/xrrgn
