XAddPixel/XAddPixel
XClipBox/XClipBox
XCreateBitmapFromData/XCreateBitmapFromData
XCreateImage/XCreateImage
XCreatePixmapFromBitmapData/XCreatePixmapFromBitmapData
XCreateRegion/XCreateRegion
XDeleteContext/XDeleteContext
XDestroyImage/XDestroyImage
XDestroyRegion/XDestroyRegion
XEmptyRegion/XEmptyRegion
XEqualRegion/XEqualRegion
XFindContext/XFindContext
XFetchBuffer/XFetchBuffer
XFetchBytes/XFetchBytes
XGetDefault/XGetDefault
gtdflt/Test3
gtdflt/Test4
gtdflt/Test5
XGetPixel/XGetPixel
XGetVisualInfo/XGetVisualInfo
XIntersectRegion/XIntersectRegion
IsCursorKey/IsCursorKey
IsFunctionKey/IsFunctionKey
IsKeypadKey/IsKeypadKey
IsModifierKey/IsModifierKey
IsMiscFunctionKey/IsMiscFunctionKey
IsPFKey/IsPFKey
XKeycodeToKeysym/XKeycodeToKeysym
XKeysymToKeycode/XKeysymToKeycode
XKeysymToString/XKeysymToString
XLookupKeysym/XLookupKeysym
XLookupString/XLookupString
XMatchVisualInfo/XMatchVisualInfo
XOffsetRegion/XOffsetRegion
XPolygonRegion/XPolygonRegion
XPointInRegion/XPointInRegion
Xpermalloc/Xpermalloc
XParseGeometry/XParseGeometry
XPutPixel/XPutPixel
XRebindKeysym/XRebindKeysym
XRectInRegion/XRectInRegion
XReadBitmapFile/XReadBitmapFile
XRefreshKeyboardMapping/XRefreshKeyboardMapping
XRotateBuffers/XRotateBuffers
XSubImage/XSubImage
XSubtractRegion/XSubtractRegion
XShrinkRegion/XShrinkRegion
XStoreBuffer/XStoreBuffer
XStoreBytes/XStoreBytes
XSetRegion/XSetRegion
XStringToKeysym/XStringToKeysym
XSaveContext/XSaveContext
unnrctwthr/unnrctwthr
unnrgn/unnrgn
unqcntxt/unqcntxt
wmgmtry/wmgmtry
wrtbtmpfl/wrtbtmpfl
xrrgn/xrrgn
