XtAppCreateShell
XtAppInitialize
XtAppSetFallbackResources
XtCloseDisplay
XtCreateApplicationContext
XtCreateVarArgsList
XtCreateWidget
XtCreateWindow
XtDatabase
XtDestroyApplicationContext
XtDestroyWidget
XtDisplay
XtDisplayInitialize
XtDisplayOfObject
XtIsRealized
XtMergeArgLists
XtName
XtOpenDisplay
XtParent
XtRealizeWidget
XtScreen
XtScreenDatabase
XtScreenOfObject
XtSetArg
XtSetLanguageProc
XtToolkitInitialize
XtUnrealizeWidget
XtVaAppCreateShell
XtVaAppInitialize
XtVaCreateWidget
XtWidgetToApplicationContext
XtWindow
XtWindowOfObject
