CompositeWidget
ConstraintWidget
CoreWidget
DataTypes
XtCheckSubclass/XtCheckSubclass
XtClass
XtInitializeWidgetClass
XtIsApplicationShell
XtIsComposite
XtIsConstraint
XtIsObject
XtIsOverrideShell
XtIsRectObject
XtIsShell
XtIsSubclass
XtIsTopLevelShell
XtIsTransientShell
XtIsVendorShell
XtIsWMShell
XtIsWidget
XtSuperClass
