AllowDeviceEvents/AllowDeviceEvents
ChangeDeviceControl/ChangeDeviceControl
ChangeFeedbackControl/ChangeFeedbackControl
ChangeKeyboardDevice/ChangeKeyboardDevice
XChangeDeviceDontPropagateList/XChangeDeviceDontPropagateList
ChangePointerDevice/ChangePointerDevice
ChangeDeviceKeyMapping/ChangeDeviceKeyMapping
CloseDevice/CloseDevice
DeviceBell/DeviceBell
XGetDeviceControl/XGetDeviceControl
GetFeedbackControl/GetFeedbackControl
XGetDeviceFocus/XGetDeviceFocus
XGetDeviceDontPropagateList/XGetDeviceDontPropagateList
GetExtensionVersion/GetExtensionVersion
GrabDevice/GrabDevice
GrabDeviceButton/GrabDeviceButton
GrabDeviceKey/GrabDeviceKey
GetDeviceButtonMapping/GetDeviceButtonMapping
XGetDeviceKeyMapping/XGetDeviceKeyMapping
XGetDeviceModifierMapping/XGetDeviceModifierMapping
GetDeviceMotionEvents/GetDeviceMotionEvents
XGetSelectedExtensionEvents/XGetSelectedExtensionEvents
ListInputDevices/ListInputDevices
Miscellaneous/Miscellaneous
OpenDevice/OpenDevice
XQueryDeviceState/XQueryDeviceState
XSetDeviceValuators/XSetDeviceValuators
XSetDeviceButtonMapping/XSetDeviceButtonMapping
XSetDeviceFocus/XSetDeviceFocus
XSetDeviceModifierMapping/XSetDeviceModifierMapping
XSetDeviceMode/XSetDeviceMode
XSelectExtensionEvent/XSelectExtensionEvent
SendExtensionEvent/SendExtensionEvent
XUngrabDevice/XUngrabDevice
XUngrabDeviceButton/XUngrabDeviceButton
XUngrabDeviceKey/XUngrabDeviceKey
