XAllowDeviceEvents/XAllowDeviceEvents
XChangeDeviceControl/XChangeDeviceControl
XChangeFeedbackControl/XChangeFeedbackControl
XChangeKeyboardDevice/XChangeKeyboardDevice
XChangeDeviceDontPropagateList/XChangeDeviceDontPropagateList
XChangePointerDevice/XChangePointerDevice
XChangeDeviceKeyMapping/XChangeDeviceKeyMapping
XCloseDevice/XCloseDevice
XDeviceBell/XDeviceBell
XGetDeviceControl/XGetDeviceControl
XGetFeedbackControl/XGetFeedbackControl
XGetDeviceFocus/XGetDeviceFocus
XGetDeviceDontPropagateList/XGetDeviceDontPropagateList
XGetExtensionVersion/XGetExtensionVersion
XGrabDevice/XGrabDevice
XGrabDeviceButton/XGrabDeviceButton
XGrabDeviceKey/XGrabDeviceKey
XGetDeviceButtonMapping/XGetDeviceButtonMapping
XGetDeviceKeyMapping/XGetDeviceKeyMapping
XGetDeviceModifierMapping/XGetDeviceModifierMapping
XGetDeviceMotionEvents/XGetDeviceMotionEvents
gtslctevnt/gtslctevnt
listdev/listdev
misc/misc
opendev/opendev
querydvst/querydvst
setdval/setdval
setdvbmap/setdvbmap
setdvfocus/setdvfocus
setdvmmap/setdvmmap
setdvmode/setdvmode
slextevnt/slextevnt
sndextevnt/sndextevnt
ungrbdv/ungrbdv
ungrbdvbtn/ungrbdvbtn
ungrbdvky/ungrbdvky
