XCreateFontCursor/XCreateFontCursor
XCreateGlyphCursor/XCreateGlyphCursor
XCreatePixmap/XCreatePixmap
XCreatePixmapCursor/XCreatePixmapCursor
XFreeCursor/XFreeCursor
XFreePixmap/XFreePixmap
XQueryBestCursor/XQueryBestCursor
RecolorCursor/RecolorCursor
