XCreateFontCursor/XCreateFontCursor
XCreateGlyphCursor/XCreateGlyphCursor
CreatePixmap/CreatePixmap
crtpxmpcrs/crtpxmpcrs
FreeCursor/FreeCursor
FreePixmap/FreePixmap
qrybstcrsr/qrybstcrsr
RecolorCursor/RecolorCursor
