XCreateFontCursor/XCreateFontCursor
XCreateGlyphCursor/XCreateGlyphCursor
XCreatePixmap/XCreatePixmap
XCreatePixmapCursor/XCreatePixmapCursor
FreeCursor/FreeCursor
FreePixmap/FreePixmap
qrybstcrsr/qrybstcrsr
RecolorCursor/RecolorCursor
