XAllocClassHint
XAllocIconSize
XAllocStandardColormap
XAllocSizeHints
XAllocWMHints
XDefaultString
XFreeStringList
XFetchName
XGetClassHint
XGetCommand
XGetIconName
XGetIconSizes
XGetRGBColormaps
XGetTransientForHint
XGetTextProperty
XGetWMClientMachine
XGetWMColormapWindows
XGetWMHints
XGetWMIconName
XGetWMName
XGetWMNormalHints
XGetWMProtocols
XGetWMSizeHints
XIconifyWindow
XReconfigureWMWindow
XSetClassHint
XSetCommand
XSetIconName
XSetIconSizes
XSetRGBColormaps
XStringListToTextProperty
XStoreName
XSetTransientForHint
XSetTextProperty
XSetWMClientMachine
XSetWMColormapWindows
XSetWMHints
XSetWMIconName
XSetWMName
XSetWMNormalHints
XSetWMProperties/XSetWMProperties
XSetWMProperties/Test1
XSetWMProperties/Test2
XSetWMProtocols
XSetWMSizeHints
XTextPropertyToStringList
XWithdrawWindow
