*~
*.a
*.la
*.lo
*.o
*.pcf
.deps
.libs
COPYING
CVS/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
fonts.dir
install-sh
libtool
ltmain.sh
missing
stamp-h1
tcc
