XAllocColor
XAllocColorCells
XAllocColorPlanes
XAllocNamedColor
XcmsAllocColor
XcmsAddColorSpace
XcmsAddFunctionSet
XcmsAllocNamedColor
XcmsCCCOfColormap
XcmsConvertColors
XcmsCIELabQueryMaxLC
XcmsCIELabQueryMaxC
XcmsCIELabQueryMaxL
XcmsConversionProc
XcmsConversionProc2
XcmsCreateCCC
XcmsDefaultCCC
XcmsDisplayOfCCC
XcmsFreeCCC
XcmsFormatOfPrefix
XcmsLookupColor
XcmsCIELabQueryMinL
XcmsPrefixOfFormat
XcmsQueryBlack
XcmsQueryBlue
XcmsQueryColor
XcmsQueryColors
XcmsQueryGreen
XcmsCIELuvQueryMaxC
XcmsCIELuvQueryMinL
XcmsCIELuvQueryMaxL
XcmsCIELuvQueryMaxLC
XcmsQueryRed
XcmsQueryWhite
XcmsScreenNumberOfCCC
XcmsStoreColor
XcmsStoreColors
XcmsTekHVCQueryMaxC
XcmsTekHVCQueryMinV
XcmsTekHVCQueryMaxV
XcmsTekHVCQueryMaxVC
XcmsTekHVCQueryMaxVSamples
XcmsVisualOfCCC
XcmsSetWhiteAdjustProc
XcmsScreenWhitePointOfCCC
XcmsClientWhitePointOfCCC
XcmsSetWhitePoint
XCopyColormapAndFree
XCreateColormap
XFreeColormap
XFreeColors
XLookupColor
XParseColor
XQueryColor
XQueryColors
XStoreColor
XStoreColors
XStoreNamedColor
