XChangeGC
XCopyGC
XCreateGC
XFlushGC
XFreeGC
XGContextFromGC
XGetGCValues
XQueryBestStipple
XQueryBestSize
XQueryBestTile
XSetArcMode
XSetBackground
XSetClipMask
XSetClipOrigin
XSetClipRectangles
XSetDashes
XSetFillRule
XSetFillStyle
XSetFunction
XSetFont
XSetForeground
XSetGraphicsExposures
XSetLineAttributes
XSetPlaneMask
XSetSubwindowMode
XSetStipple
XSetState
XSetTile
XSetTSOrigin
