XCheckIfEvent
XCheckMaskEvent
XCheckTypedEvent
XCheckTypedWindowEvent
XCheckWindowEvent
XDisplayMotionBufferSize
XDisplayName/XDisplayName
XDisplayName/Test1
XEventsQueued
XFlush
XGetErrorDatabaseText
XGetErrorText
XGetMotionEvents
XIfEvent
XMaskEvent
XNextEvent
XPeekEvent
XPeekIfEvent
XPending
XPutBackEvent
XSelectInput
XSendEvent
XSetAfterFunction
XSetErrorHandler
XSetIOErrorHandler
XSync
XSynchronize
XWindowEvent
