ButtonPress
ButtonRelease
ClientMessage
ColormapNotify
ConfigureNotify
ConfigureRequest
CirculateNotify
CirculateRequest
CreateNotify
DestroyNotify
EnterNotify
Expose
FocusIn
FocusOut
GraphicsExpose
GravityNotify
KeymapNotify
KeyPress
KeyRelease
LeaveNotify
MapNotify
MappingNotify
MapRequest
MotionNotify
NoExpose
PropertyNotify
ReparentNotify
ResizeRequest
SelectionClear
SelectionNotify
SelectionRequest
UnmapNotify
VisibilityNotify
