XActivateScreenSaver/XActivateScreenSaver
XAddHost/XAddHost
XAddHosts/XAddHosts
addtsvst/addtsvst
ChangeSaveSet/ChangeSaveSet
dsblaccssc/dsblaccssc
enblaccssc/enblaccssc
ForceScreenSaver/ForceScreenSaver
GrabServer/GrabServer
GetScreenSaver/GetScreenSaver
InstallColormap/InstallColormap
KillClient/KillClient
ListHosts/ListHosts
ListInstalledColormaps/ListInstalledColormaps
rmvfrmsvst/rmvfrmsvst
rmvhst/rmvhst
rmvhsts/rmvhsts
ReparentWindow/ReparentWindow
rstscrnsvr/rstscrnsvr
SetAccessControl/SetAccessControl
SetScreenSaver/SetScreenSaver
UngrabServer/UngrabServer
UninstallColormap/UninstallColormap
