actvtscrns/actvtscrns
addhst/addhst
addhsts/addhsts
addtsvst/addtsvst
ChangeSaveSet/ChangeSaveSet
dsblaccssc/dsblaccssc
enblaccssc/enblaccssc
ForceScreenSaver/ForceScreenSaver
GrabServer/GrabServer
GetScreenSaver/GetScreenSaver
InstallColormap/InstallColormap
KillClient/KillClient
ListHosts/ListHosts
ListInstalledColormaps/ListInstalledColormaps
rmvfrmsvst/rmvfrmsvst
rmvhst/rmvhst
rmvhsts/rmvhsts
ReparentWindow/ReparentWindow
rstscrnsvr/rstscrnsvr
SetAccessControl/SetAccessControl
stscrnsvr/stscrnsvr
ungrbsrvr/ungrbsrvr
unnstllclr/unnstllclr
