actvtscrns/actvtscrns
addhst/addhst
addhsts/addhsts
addtsvst/addtsvst
chngsvst/chngsvst
dsblaccssc/dsblaccssc
enblaccssc/enblaccssc
frcscrnsvr/frcscrnsvr
grbsrvr/grbsrvr
gtscrnsvr/gtscrnsvr
instllclrm/instllclrm
kllclnt/kllclnt
lsthsts/lsthsts
lstinstlld/lstinstlld
rmvfrmsvst/rmvfrmsvst
rmvhst/rmvhst
rmvhsts/rmvhsts
rprntwdw/rprntwdw
rstscrnsvr/rstscrnsvr
staccsscnt/staccsscnt
stscrnsvr/stscrnsvr
ungrbsrvr/ungrbsrvr
unnstllclr/unnstllclr
