XAllowEvents
XAutoRepeatOff
XAutoRepeatOn
XBell
XChangeActivePointerGrab
XChangeKeyboardControl
XChangeKeyboardMapping
XChangePointerControl
XDeleteModifiermapEntry
XDisplayKeycodes
XFreeModifiermap
XGrabButton
XGrabKey
XGrabKeyboard
XGrabPointer
XGetInputFocus
XGetKeyboardControl
XGetKeyboardMapping
XGetModifierMapping
XGetPointerControl
XGetPointerMapping
XInsertModifiermapEntry
XNewModifiermap
XQueryKeymap
XSetInputFocus
XSetModifierMapping
XSetPointerMapping
XUngrabButton
XUngrabKey
XUngrabKeyboard
XUngrabPointer
XWarpPointer
