XAllowEvents/XAllowEvents
XAutoRepeatOff/XAutoRepeatOff
XAutoRepeatOn/XAutoRepeatOn
XBell/XBell
XChangeActivePointerGrab/XChangeActivePointerGrab
XChangeKeyboardControl/XChangeKeyboardControl
XChangeKeyboardMapping/XChangeKeyboardMapping
XChangePointerControl/XChangePointerControl
XDeleteModifiermapEntry/XDeleteModifiermapEntry
XDisplayKeycodes/XDisplayKeycodes
XFreeModifiermap/XFreeModifiermap
GrabButton/GrabButton
GrabKey/GrabKey
GrabKeyboard/GrabKeyboard
GrabPointer/GrabPointer
XGetInputFocus/XGetInputFocus
XGetKeyboardControl/XGetKeyboardControl
XGetKeyboardMapping/XGetKeyboardMapping
XGetModifierMapping/XGetModifierMapping
XGetPointerControl/XGetPointerControl
XGetPointerMapping/XGetPointerMapping
insrtmdfrm/insrtmdfrm
nwmdfrmp/nwmdfrmp
QueryKeymap/QueryKeymap
SetInputFocus/SetInputFocus
SetModifierMapping/SetModifierMapping
SetPointerMapping/SetPointerMapping
UngrabButton/UngrabButton
UngrabKey/UngrabKey
UngrabKeyboard/UngrabKeyboard
UngrabPointer/UngrabPointer
WarpPointer/WarpPointer
