XAllowEvents/XAllowEvents
XAutoRepeatOff/XAutoRepeatOff
XAutoRepeatOn/XAutoRepeatOn
XBell/XBell
ChangeActivePointerGrab/ChangeActivePointerGrab
ChangeKeyboardControl/ChangeKeyboardControl
ChangeKeyboardMapping/ChangeKeyboardMapping
ChangePointerControl/ChangePointerControl
dltmdfrmpe/dltmdfrmpe
dsplykycds/dsplykycds
frmdfrmp/frmdfrmp
GrabButton/GrabButton
GrabKey/GrabKey
GrabKeyboard/GrabKeyboard
GrabPointer/GrabPointer
GetInputFocus/GetInputFocus
GetKeyboardControl/GetKeyboardControl
GetKeyboardMapping/GetKeyboardMapping
GetModifierMapping/GetModifierMapping
GetPointerControl/GetPointerControl
GetPointerMapping/GetPointerMapping
insrtmdfrm/insrtmdfrm
nwmdfrmp/nwmdfrmp
QueryKeymap/QueryKeymap
SetInputFocus/SetInputFocus
SetModifierMapping/SetModifierMapping
SetPointerMapping/SetPointerMapping
UngrabButton/UngrabButton
UngrabKey/UngrabKey
UngrabKeyboard/UngrabKeyboard
UngrabPointer/UngrabPointer
WarpPointer/WarpPointer
