XtAppReleaseCacheRefs
XtAppSetTypeConverter
XtCallConverter
XtCallbackReleaseCacheRef
XtCallbackReleaseCacheRefList
XtConvertAndStore
XtCvtColorToPixel
XtCvtIntToBool
XtCvtIntToBoolean
XtCvtIntToColor
XtCvtIntToDimension
XtCvtIntToFloat
XtCvtIntToFont
XtCvtIntToPixel
XtCvtIntToPixmap
XtCvtIntToPosition
XtCvtIntToShort
XtCvtIntToUnsignedChar
XtCvtPixelToColor
XtCvtStringToAcceleratorTable
XtCvtStringToAtom
XtCvtStringToBool
XtCvtStringToBoolean
XtCvtStringToCursor
XtCvtStringToDimension
XtCvtStringToDisplay
XtCvtStringToFile
XtCvtStringToFloat
XtCvtStringToFont
XtCvtStringToFontSet
XtCvtStringToFontStruct
XtCvtStringToInitialState
XtCvtStringToInt
XtCvtStringToPixel
XtCvtStringToPosition
XtCvtStringToShort
XtCvtStringToTranslationTable
XtCvtStringToUnsignedChar
XtCvtStringToVisual
XtDisplayStringConversionWarning
XtDisplayToApplicationContext
XtGetApplicationResources
XtGetConstraintResourceList
XtGetResourceList
XtGetSubresources
XtGetSubvalues
XtGetValues
XtOffset
XtOffsetOf
XtSetSubvalues
XtSetTypeConverter
XtSetValues
XtVaGetApplicationResources
XtVaGetSubresources
XtVaGetSubvalues
XtVaGetValues
XtVaSetSubvalues
XtVaSetValues
