XActivateScreenSaver
XAddHost
XAddHosts
XAddToSaveSet
XChangeSaveSet
XDisableAccessControl
XEnableAccessControl
XForceScreenSaver
XGrabServer
XGetScreenSaver
XInstallColormap
XKillClient
XListHosts
XListInstalledColormaps
XRemoveFromSaveSet
XRemoveHost
XRemoveHosts
XReparentWindow
XResetScreenSaver
XSetAccessControl
XSetScreenSaver
XUngrabServer
XUninstallColormap
