XChangeGC/XChangeGC
XCopyGC/XCopyGC
XCreateGC/XCreateGC
XFlushGC/XFlushGC
XFreeGC/XFreeGC
XGContextFromGC/XGContextFromGC
XGetGCValues/XGetGCValues
XQueryBestStipple/XQueryBestStipple
XQueryBestSize/XQueryBestSize
XQueryBestTile/XQueryBestTile
XSetArcMode/XSetArcMode
XSetBackground/XSetBackground
XSetClipMask/XSetClipMask
XSetClipOrigin/XSetClipOrigin
XSetClipRectangles/XSetClipRectangles
XSetDashes/XSetDashes
stfllrl/stfllrl
stfllstyl/stfllstyl
stfnctn/stfnctn
stfnt/stfnt
stfrgrnd/stfrgrnd
stgrphcsex/stgrphcsex
stlnattrbt/stlnattrbt
stplnmsk/stplnmsk
stsbwmd/stsbwmd
ststppl/ststppl
ststt/ststt
sttl/sttl
sttsorgn/sttsorgn
