XChangeGC/XChangeGC
XCopyGC/XCopyGC
XCreateGC/XCreateGC
XFlushGC/XFlushGC
XFreeGC/XFreeGC
XGContextFromGC/XGContextFromGC
gtgcvls/gtgcvls
qrybststpp/qrybststpp
QueryBestSize/QueryBestSize
qrybsttl/qrybsttl
starcmd/starcmd
stbg/stbg
stclpmsk/stclpmsk
stclporgn/stclporgn
SetClipRectangles/SetClipRectangles
SetDashes/SetDashes
stfllrl/stfllrl
stfllstyl/stfllstyl
stfnctn/stfnctn
stfnt/stfnt
stfrgrnd/stfrgrnd
stgrphcsex/stgrphcsex
stlnattrbt/stlnattrbt
stplnmsk/stplnmsk
stsbwmd/stsbwmd
ststppl/ststppl
ststt/ststt
sttl/sttl
sttsorgn/sttsorgn
