ChangeGC/ChangeGC
CopyGC/CopyGC
CreateGC/CreateGC
flushgc/flushgc
FreeGC/FreeGC
gcntxtfrmg/gcntxtfrmg
gtgcvls/gtgcvls
qrybststpp/qrybststpp
QueryBestSize/QueryBestSize
qrybsttl/qrybsttl
starcmd/starcmd
stbg/stbg
stclpmsk/stclpmsk
stclporgn/stclporgn
stclprctng/stclprctng
stdshs/stdshs
stfllrl/stfllrl
stfllstyl/stfllstyl
stfnctn/stfnctn
stfnt/stfnt
stfrgrnd/stfrgrnd
stgrphcsex/stgrphcsex
stlnattrbt/stlnattrbt
stplnmsk/stplnmsk
stsbwmd/stsbwmd
ststppl/ststppl
ststt/ststt
sttl/sttl
sttsorgn/sttsorgn
