XtAddEventHandler
XtAddGrab
XtAddRawEventHandler
XtAppAddInput
XtAppAddTimeOut
XtAppAddWorkProc
XtAppMainLoop
XtAppNextEvent
XtAppPeekEvent
XtAppPending
XtAppProcessEvent
XtBuildEventMask
XtCallAcceptFocus/XtCallAcceptFocus
XtDispatchEvent
XtGrabButton
XtGrabKey
XtGrabKeyboard
XtGrabPointer
XtInsertEventHandler
XtInsertRawEventHandler
XtIsSensitive
XtRemoveEventHandler
XtRemoveGrab
XtRemoveInput/XtRemoveInput
XtRemoveRawEventHandler
XtRemoveTimeOut
XtRemoveWorkProc
XtSetKeyboardFocus
XtSetSensitive
XtUngrabButton
XtUngrabKey
XtUngrabKeyboard
XtUngrabPointer
