XtAddExposureToRegion
XtAllocateGC
XtAppError
XtAppErrorMsg
XtAppGetErrorDatabase
XtAppGetErrorDatabaseText
XtAppGetSelectionTimeout
XtAppSetErrorHandler
XtAppSetErrorMsgHandler
XtAppSetSelectionTimeout
XtAppSetWarningHandler
XtAppSetWarningMsgHandler
XtAppWarning
XtAppWarningMsg
XtCalloc
XtDisownSelection
XtFindFile/XtFindFile
XtFree
XtGetApplicationNameAndClass
XtGetGC
XtGetSelectionRequest
XtGetSelectionValue
XtGetSelectionValueIncremental
XtGetSelectionValues
XtGetSelectionValuesIncremental
XtLastTimestampProcessed
XtMalloc
XtNameToWidget
XtNew
XtNewString
XtNumber
XtOwnSelection
XtOwnSelectionIncremental
XtRealloc
XtReleaseGC
XtResolvePathname/XtResolvePathname
XtSetWMColormapWindows
XtTranslateCoords
XtWindowToWidget
