XrmCombineDatabase/XrmCombineDatabase
XrmCombineFileDatabase/XrmCombineFileDatabase
XrmDestroyDatabase/XrmDestroyDatabase
XrmEnumerateDatabase/XrmEnumerateDatabase
XrmGetDatabase/XrmGetDatabase
XrmGetFileDatabase/XrmGetFileDatabase
XrmGetResource/XrmGetResource
XrmGetStringDatabase/XrmGetStringDatabase
XrmInitialize/XrmInitialize
XrmLocaleOfDatabase/XrmLocaleOfDatabase
rmmrgdtbss/rmmrgdtbss
rmprscmmnd/rmprscmmnd
rmpstoq/rmpstoq
rmptfldtbs/rmptfldtbs
rmptlnrsrc/rmptlnrsrc
rmptrsrc/rmptrsrc
rmptstrrsr/rmptstrrsr
rmqgtrsrc/rmqgtrsrc
rmqgtsrchl/rmqgtsrchl
rmqgtsrchr/rmqgtsrchr
rmqptrsrc/rmqptrsrc
rmqptstrrs/rmqptstrrs
rmqrktstr/rmqrktstr
rmstdb/rmstdb
rmstrtbndn/rmstrtbndn
rmstrtqrk/rmstrtqrk
rmstrtqrkl/rmstrtqrkl
rmunqqrk/rmunqqrk
rsrcmngrst/rsrcmngrst
scrrs/scrrs
