XrmCombineDatabase/XrmCombineDatabase
XrmCombineFileDatabase/XrmCombineFileDatabase
XrmDestroyDatabase/XrmDestroyDatabase
XrmEnumerateDatabase/XrmEnumerateDatabase
XrmGetDatabase/XrmGetDatabase
rmgtfldtbs/rmgtfldtbs
rmgtrsrc/rmgtrsrc
rmgtstrdtb/rmgtstrdtb
rmintlz/rmintlz
rmloofdt/rmloofdt
rmmrgdtbss/rmmrgdtbss
rmprscmmnd/rmprscmmnd
rmpstoq/rmpstoq
rmptfldtbs/rmptfldtbs
rmptlnrsrc/rmptlnrsrc
rmptrsrc/rmptrsrc
rmptstrrsr/rmptstrrsr
rmqgtrsrc/rmqgtrsrc
rmqgtsrchl/rmqgtsrchl
rmqgtsrchr/rmqgtsrchr
rmqptrsrc/rmqptrsrc
rmqptstrrs/rmqptstrrs
rmqrktstr/rmqrktstr
rmstdb/rmstdb
rmstrtbndn/rmstrtbndn
rmstrtqrk/rmstrtqrk
rmstrtqrkl/rmstrtqrkl
rmunqqrk/rmunqqrk
rsrcmngrst/rsrcmngrst
scrrs/scrrs
