XBaseFontNameListOfFontSet/XBaseFontNameListOfFontSet
XCloseIM/XCloseIM
XContextDependentDrawing/XContextDependentDrawing
XCreateFontSet/XCreateFontSet
XCreateIC/XCreateIC
XDestroyIC/XDestroyIC
XDisplayOfIM/XDisplayOfIM
XExtentsOfFontSet/XExtentsOfFontSet
XFilterEvent/XFilterEvent
XFontsOfFontSet/XFontsOfFontSet
XFreeFontSet/XFreeFontSet
XGetICValues/XGetICValues
XGetIMValues/XGetIMValues
XIMOfIC/XIMOfIC
XLocaleOfFontSet/XLocaleOfFontSet
XLocaleOfIM/XLocaleOfIM
XmbDrawImageString/XmbDrawImageString
XmbDrawString/XmbDrawString
XmbDrawText/XmbDrawText
XmbLookupString/XmbLookupString
XmbResetIC/XmbResetIC
XmbSetWMProperties/XmbSetWMProperties
XmbTextEscapement/XmbTextEscapement
XmbTextExtents/XmbTextExtents
XmbTextListToTextProperty/XmbTextListToTextProperty
XmbTextPerCharExtents/XmbTextPerCharExtents
XmbTextPropertyToTextList/XmbTextPropertyToTextList
XOpenIM/XOpenIM
XSetICFocus/XSetICFocus
XSetICValues/XSetICValues
XSupportsLocale/XSupportsLocale
XSetLocaleModifiers/XSetLocaleModifiers
XUnsetICFocus/XUnsetICFocus
XVaCreateNestedList/XVaCreateNestedList
XwcDrawImageString/XwcDrawImageString
wcdstr/wcdstr
wcdtext/wcdtext
wcfstli/wcfstli
wclustr/wclustr
wcreic/wcreic
wctesc/wctesc
wctlttp/wctlttp
wctpcex/wctpcex
wctpttl/wctpttl
wctxtex/wctxtex
