XtAddActions
XtAddConverter
XtAddInput
XtAddTimeOut
XtAddWorkProc
XtAppAddConverter
XtConvert
XtCreateApplicationShell
XtDestroyGC
XtDirectConvert
XtError
XtErrorMsg
XtGetErrorDatabase
XtGetErrorDatabaseText
XtGetSelectionTimeout
XtInitialize
XtMainLoop
XtNextEvent
XtPeekEvent
XtPending
XtProcessEvent
XtSetErrorHandler
XtSetErrorMsgHandler
XtSetSelectionTimeout
XtSetWarningHandler
XtSetWarningMsgHandler
XtStringConversionWarning
XtWarning
XtWarningMsg
