XAllocNamedColor/XAllocNamedColor
cursorfont/cursorfont
XCreateFontCursor/XCreateFontCursor
keysym/keysym
keysymdef/keysymdef
XKeysymToKeycode/XKeysymToKeycode
LookupColor/LookupColor
strtkysym/strtkysym
