XAllocNamedColor/XAllocNamedColor
cursorfont/cursorfont
XCreateFontCursor/XCreateFontCursor
keysym/keysym
keysymdef/keysymdef
XKeysymToKeycode/XKeysymToKeycode
XLookupColor/XLookupColor
strtkysym/strtkysym
