XCheckIfEvent/XCheckIfEvent
XCheckMaskEvent/XCheckMaskEvent
XCheckTypedEvent/XCheckTypedEvent
XCheckTypedWindowEvent/XCheckTypedWindowEvent
XCheckWindowEvent/XCheckWindowEvent
XDisplayMotionBufferSize/XDisplayMotionBufferSize
XDisplayName/XDisplayName
dsplynm/Test1
evntsqd/evntsqd
flsh/flsh
gterrrdtbs/gterrrdtbs
gterrrtxt/gterrrtxt
GetMotionEvents/GetMotionEvents
ifevnt/ifevnt
mskevnt/mskevnt
nxtevnt/nxtevnt
pkevnt/pkevnt
pkifevnt/pkifevnt
pndng/pndng
ptbckevnt/ptbckevnt
slctinpt/slctinpt
SendEvent/SendEvent
staftrfnct/staftrfnct
sterrrhndl/sterrrhndl
stioerrrhn/stioerrrhn
sync/sync
synchrnz/synchrnz
wdwevnt/wdwevnt
