XCheckIfEvent/XCheckIfEvent
XCheckMaskEvent/XCheckMaskEvent
XCheckTypedEvent/XCheckTypedEvent
XCheckTypedWindowEvent/XCheckTypedWindowEvent
XCheckWindowEvent/XCheckWindowEvent
XDisplayMotionBufferSize/XDisplayMotionBufferSize
XDisplayName/XDisplayName
dsplynm/Test1
XEventsQueued/XEventsQueued
XFlush/XFlush
XGetErrorDatabaseText/XGetErrorDatabaseText
XGetErrorText/XGetErrorText
XGetMotionEvents/XGetMotionEvents
XIfEvent/XIfEvent
XMaskEvent/XMaskEvent
nxtevnt/nxtevnt
pkevnt/pkevnt
pkifevnt/pkifevnt
pndng/pndng
ptbckevnt/ptbckevnt
slctinpt/slctinpt
SendEvent/SendEvent
staftrfnct/staftrfnct
sterrrhndl/sterrrhndl
stioerrrhn/stioerrrhn
sync/sync
synchrnz/synchrnz
wdwevnt/wdwevnt
