XBaseFontNameListOfFontSet
XCloseIM
XContextDependentDrawing
XCreateFontSet
XCreateIC
XDestroyIC
XDisplayOfIM
XExtentsOfFontSet
XFilterEvent
XFontsOfFontSet
XFreeFontSet
XGetICValues
XGetIMValues
XIMOfIC
XLocaleOfFontSet
XLocaleOfIM
XmbDrawImageString/XmbDrawImageString
XmbDrawString/XmbDrawString
XmbDrawText/XmbDrawText
XmbLookupString
XmbResetIC
XmbSetWMProperties
XmbTextEscapement
XmbTextExtents
XmbTextListToTextProperty
XmbTextPerCharExtents
XmbTextPropertyToTextList
XOpenIM
XSetICFocus
XSetICValues
XSupportsLocale
XSetLocaleModifiers
XUnsetICFocus
XVaCreateNestedList
XwcDrawImageString/XwcDrawImageString
XwcDrawString/XwcDrawString
XwcDrawText/XwcDrawText
XwcFreeStringList
XwcLookupString
XwcResetIC
XwcTextEscapement
XwcTextListToTextProperty
XwcTextPerCharExtents
XwcTextPropertyToTextList
XwcTextExtents
