AllowDeviceEvents/AllowDeviceEvents
ChangeDeviceControl/ChangeDeviceControl
ChangeDeviceDontPropagateList/ChangeDeviceDontPropagateList
ChangeFeedbackControl/ChangeFeedbackControl
ChangeKeyboardDevice/ChangeKeyboardDevice
ChangePointerDevice/ChangePointerDevice
ChangeDeviceKeyMapping/ChangeDeviceKeyMapping
CloseDevice/CloseDevice
DeviceBell/DeviceBell
GetDeviceModifierMapping/GetDeviceModifierMapping
GetFeedbackControl/GetFeedbackControl
GetExtensionVersion/GetExtensionVersion
GrabDevice/GrabDevice
GrabDeviceButton/GrabDeviceButton
GrabDeviceKey/GrabDeviceKey
GetDeviceButtonMapping/GetDeviceButtonMapping
GetDeviceControl/GetDeviceControl
GetDeviceFocus/GetDeviceFocus
GetDeviceMotionEvents/GetDeviceMotionEvents
GetDeviceDontPropagateList/GetDeviceDontPropagateList
GetDeviceKeyMapping/GetDeviceKeyMapping
GetSelectedExtensionEvents/GetSelectedExtensionEvents
XListInputDevices/XListInputDevices
Miscellaneous/Miscellaneous
XOpenDevice/XOpenDevice
QueryDeviceState/QueryDeviceState
XSetDeviceValuators/XSetDeviceValuators
XSetDeviceButtonMapping/XSetDeviceButtonMapping
SetDeviceFocus/SetDeviceFocus
XSetDeviceModifierMapping/XSetDeviceModifierMapping
XSetDeviceMode/XSetDeviceMode
SelectExtensionEvent/SelectExtensionEvent
XSendExtensionEvent/XSendExtensionEvent
UngrabDevice/UngrabDevice
XUngrabDeviceButton/XUngrabDeviceButton
XUngrabDeviceKey/XUngrabDeviceKey
