XAllowDeviceEvents/XAllowDeviceEvents
XChangeDeviceControl/XChangeDeviceControl
chgdvprop/chgdvprop
XChangeFeedbackControl/XChangeFeedbackControl
XChangeKeyboardDevice/XChangeKeyboardDevice
XChangePointerDevice/XChangePointerDevice
XChangeDeviceKeyMapping/XChangeDeviceKeyMapping
XCloseDevice/XCloseDevice
XDeviceBell/XDeviceBell
getdvmmap/getdvmmap
XGetFeedbackControl/XGetFeedbackControl
XGetExtensionVersion/XGetExtensionVersion
XGrabDevice/XGrabDevice
XGrabDeviceButton/XGrabDeviceButton
XGrabDeviceKey/XGrabDeviceKey
XGetDeviceButtonMapping/XGetDeviceButtonMapping
gtdvctl/gtdvctl
gtdvfcs/gtdvfcs
XGetDeviceMotionEvents/XGetDeviceMotionEvents
gtdvprop/gtdvprop
gtkeymppn/gtkeymppn
gtslctexev/gtslctexev
XListInputDevices/XListInputDevices
Miscellaneous/Miscellaneous
XOpenDevice/XOpenDevice
qrydvstat/qrydvstat
XSetDeviceValuators/XSetDeviceValuators
XSetDeviceButtonMapping/XSetDeviceButtonMapping
setdvfcs/setdvfcs
XSetDeviceModifierMapping/XSetDeviceModifierMapping
XSetDeviceMode/XSetDeviceMode
slctexevnt/slctexevnt
XSendExtensionEvent/XSendExtensionEvent
ungrbdev/ungrbdev
ungrbdvbtn/ungrbdvbtn
ungrbdvky/ungrbdvky
