XAllowDeviceEvents/XAllowDeviceEvents
XChangeDeviceControl/XChangeDeviceControl
chgdvprop/chgdvprop
XChangeFeedbackControl/XChangeFeedbackControl
XChangeKeyboardDevice/XChangeKeyboardDevice
XChangePointerDevice/XChangePointerDevice
XChangeDeviceKeyMapping/XChangeDeviceKeyMapping
XCloseDevice/XCloseDevice
XDeviceBell/XDeviceBell
getdvmmap/getdvmmap
XGetFeedbackControl/XGetFeedbackControl
XGetExtensionVersion/XGetExtensionVersion
XGrabDevice/XGrabDevice
XGrabDeviceButton/XGrabDeviceButton
grbdvky/grbdvky
gtbtnmppn/gtbtnmppn
gtdvctl/gtdvctl
gtdvfcs/gtdvfcs
gtdvmtnev/gtdvmtnev
gtdvprop/gtdvprop
gtkeymppn/gtkeymppn
gtslctexev/gtslctexev
listdev/listdev
misc/misc
opendev/opendev
qrydvstat/qrydvstat
setdval/setdval
setdvbmap/setdvbmap
setdvfcs/setdvfcs
setdvmmap/setdvmmap
setdvmode/setdvmode
slctexevnt/slctexevnt
sndextevnt/sndextevnt
ungrbdev/ungrbdev
ungrbdvbtn/ungrbdvbtn
ungrbdvky/ungrbdvky
