XrmCombineDatabase
XrmCombineFileDatabase
XrmDestroyDatabase
XrmEnumerateDatabase
XrmGetDatabase
XrmGetFileDatabase
XrmGetResource
XrmGetStringDatabase
XrmInitialize
XrmLocaleOfDatabase
XrmMergeDatabases
XrmParseCommand
XrmPermStringToQuark
XrmPutFileDatabase
XrmPutLineResource
XrmPutResource
XrmPutStringResource
XrmQGetResource
XrmQGetSearchList
XrmQGetSearchResource
XrmQPutResource
XrmQPutStringResource
XrmQuarkToString
XrmSetDatabase
XrmStringToBindingQuarkList
XrmStringToQuark
XrmStringToQuarkList
XrmUniqueQuark
XResourceManagerString
XScreenResourceString
