XChangeProperty/XChangeProperty
XConvertSelection/XConvertSelection
XDeleteProperty/XDeleteProperty
XGetAtomName/XGetAtomName
XGetGeometry/XGetGeometry
XGetSelectionOwner/XGetSelectionOwner
XGetWindowAttributes/XGetWindowAttributes
XGetWindowProperty/XGetWindowProperty
XInternAtom/XInternAtom
XListProperties/XListProperties
QueryPointer/QueryPointer
QueryTree/QueryTree
rttwdwprpr/rttwdwprpr
SetSelectionOwner/SetSelectionOwner
trnsltcrdn/trnsltcrdn
