ChangeProperty/ChangeProperty
ConvertSelection/ConvertSelection
DeleteProperty/DeleteProperty
GetAtomName/GetAtomName
GetGeometry/GetGeometry
GetSelectionOwner/GetSelectionOwner
GetWindowAttributes/GetWindowAttributes
gtwdwprprt/gtwdwprprt
InternAtom/InternAtom
ListProperties/ListProperties
QueryPointer/QueryPointer
qrytr/qrytr
rttwdwprpr/rttwdwprpr
stslctnown/stslctnown
trnsltcrdn/trnsltcrdn
