XChangeProperty/XChangeProperty
XConvertSelection/XConvertSelection
XDeleteProperty/XDeleteProperty
XGetAtomName/XGetAtomName
XGetGeometry/XGetGeometry
XGetSelectionOwner/XGetSelectionOwner
XGetWindowAttributes/XGetWindowAttributes
XGetWindowProperty/XGetWindowProperty
XInternAtom/XInternAtom
XListProperties/XListProperties
XQueryPointer/XQueryPointer
XQueryTree/XQueryTree
XRotateWindowProperties/XRotateWindowProperties
SetSelectionOwner/SetSelectionOwner
trnsltcrdn/trnsltcrdn
