XtAppAddActionHook
XtAppAddActions
XtAugmentTranslations
XtCallActionProc
XtConvertCase
XtGetActionKeysym
XtGetActionList
XtGetKeysymTable
XtGetMultiClickTime
XtInstallAccelerators
XtInstallAllAccelerators
XtKeysymToKeycodeList
XtOverrideTranslations
XtParseAcceleratorTable
XtParseTranslationTable
XtRegisterCaseConverter
XtRegisterGrabAction
XtRemoveActionHook
XtSetKeyTranslator
XtSetMultiClickTime
XtTranslateKeycode
XtUninstallTranslations
