XAllocColor/XAllocColor
XAllocColorCells/XAllocColorCells
XAllocColorPlanes/XAllocColorPlanes
XAllocNamedColor/XAllocNamedColor
XAllowEvents/XAllowEvents
BadRequest/BadRequest
XBell/XBell
XChangeActivePointerGrab/XChangeActivePointerGrab
ChangeGC/ChangeGC
ChangeHosts/ChangeHosts
XChangeKeyboardControl/XChangeKeyboardControl
XChangeKeyboardMapping/XChangeKeyboardMapping
XChangePointerControl/XChangePointerControl
XChangeProperty/XChangeProperty
XChangeSaveSet/XChangeSaveSet
XChangeWindowAttributes/XChangeWindowAttributes
ClearArea/ClearArea
CloseFont/CloseFont
XConfigureWindow/XConfigureWindow
XConvertSelection/XConvertSelection
CopyArea/CopyArea
XCopyColormapAndFree/XCopyColormapAndFree
CopyGC/CopyGC
CopyPlane/CopyPlane
CirculateWindow/CirculateWindow
XCreateColormap/XCreateColormap
CreateCursor/CreateCursor
CreateGC/CreateGC
XCreateGlyphCursor/XCreateGlyphCursor
XCreatePixmap/XCreatePixmap
XCreateWindow/XCreateWindow
XDeleteProperty/XDeleteProperty
XDestroySubwindows/XDestroySubwindows
XDestroyWindow/XDestroyWindow
FillPoly/FillPoly
XFreeColormap/XFreeColormap
XFreeColors/XFreeColors
XFreeCursor/XFreeCursor
XForceScreenSaver/XForceScreenSaver
FreeGC/FreeGC
XFreePixmap/XFreePixmap
XGrabButton/XGrabButton
XGrabKey/XGrabKey
XGrabKeyboard/XGrabKeyboard
XGrabPointer/XGrabPointer
XGrabServer/XGrabServer
XGetAtomName/XGetAtomName
GetFontPath/GetFontPath
XGetGeometry/XGetGeometry
GetImage/GetImage
XGetInputFocus/XGetInputFocus
XGetKeyboardControl/XGetKeyboardControl
XGetKeyboardMapping/XGetKeyboardMapping
XGetModifierMapping/XGetModifierMapping
XGetMotionEvents/XGetMotionEvents
XGetPointerControl/XGetPointerControl
XGetPointerMapping/XGetPointerMapping
GetProperty/GetProperty
XGetScreenSaver/XGetScreenSaver
XGetSelectionOwner/XGetSelectionOwner
XGetWindowAttributes/XGetWindowAttributes
ImageText16/ImageText16
ImageText8/ImageText8
XInstallColormap/XInstallColormap
XInternAtom/XInternAtom
XKillClient/XKillClient
XLookupColor/XLookupColor
ListExtensions/ListExtensions
ListFonts/ListFonts
ListFontsWithInfo/ListFontsWithInfo
XListHosts/XListHosts
XListInstalledColormaps/XListInstalledColormaps
XListProperties/XListProperties
XMapSubwindows/XMapSubwindows
XMapWindow/XMapWindow
NoOperation/NoOperation
XOpenDisplay/XOpenDisplay
OpenFont/OpenFont
PolyArc/PolyArc
PolyFillArc/PolyFillArc
PolyFillRectangle/PolyFillRectangle
PolyLine/PolyLine
PolyPoint/PolyPoint
PolyRectangle/PolyRectangle
PolySegment/PolySegment
PolyText16/PolyText16
PolyText8/PolyText8
PutImage/PutImage
QueryBestSize/QueryBestSize
QueryColors/QueryColors
QueryExtension/QueryExtension
QueryFont/QueryFont
XQueryKeymap/XQueryKeymap
XQueryPointer/XQueryPointer
XQueryTree/XQueryTree
QueryTextExtents/QueryTextExtents
XRecolorCursor/XRecolorCursor
XReparentWindow/XReparentWindow
RotateProperties/RotateProperties
XSendEvent/XSendEvent
XSetAccessControl/XSetAccessControl
SetClipRectangles/SetClipRectangles
XSetCloseDownMode/XSetCloseDownMode
SetDashes/SetDashes
SetFontPath/SetFontPath
XSetInputFocus/XSetInputFocus
XSetModifierMapping/XSetModifierMapping
XSetPointerMapping/XSetPointerMapping
StoreColors/StoreColors
StoreNamedColor/StoreNamedColor
XSetScreenSaver/XSetScreenSaver
XSetSelectionOwner/XSetSelectionOwner
TranslateCoords/TranslateCoords
XUngrabButton/XUngrabButton
XUngrabKey/XUngrabKey
XUngrabKeyboard/XUngrabKeyboard
XUngrabPointer/XUngrabPointer
XUngrabServer/XUngrabServer
XUnmapSubwindows/XUnmapSubwindows
XUnmapWindow/XUnmapWindow
XUninstallColormap/XUninstallColormap
XWarpPointer/XWarpPointer
