XAllocColor/XAllocColor
XAllocColorCells/XAllocColorCells
XAllocColorPlanes/XAllocColorPlanes
XAllocNamedColor/XAllocNamedColor
XAllowEvents/XAllowEvents
BadRequest/BadRequest
XBell/XBell
XChangeActivePointerGrab/XChangeActivePointerGrab
XChangeGC/XChangeGC
ChangeHosts/ChangeHosts
XChangeKeyboardControl/XChangeKeyboardControl
XChangeKeyboardMapping/XChangeKeyboardMapping
XChangePointerControl/XChangePointerControl
XChangeProperty/XChangeProperty
XChangeSaveSet/XChangeSaveSet
XChangeWindowAttributes/XChangeWindowAttributes
XClearArea/XClearArea
CloseFont/CloseFont
XConfigureWindow/XConfigureWindow
XConvertSelection/XConvertSelection
XCopyArea/XCopyArea
XCopyColormapAndFree/XCopyColormapAndFree
XCopyGC/XCopyGC
XCopyPlane/XCopyPlane
CirculateWindow/CirculateWindow
XCreateColormap/XCreateColormap
CreateCursor/CreateCursor
XCreateGC/XCreateGC
XCreateGlyphCursor/XCreateGlyphCursor
XCreatePixmap/XCreatePixmap
XCreateWindow/XCreateWindow
XDeleteProperty/XDeleteProperty
XDestroySubwindows/XDestroySubwindows
XDestroyWindow/XDestroyWindow
FillPoly/FillPoly
XFreeColormap/XFreeColormap
XFreeColors/XFreeColors
XFreeCursor/XFreeCursor
XForceScreenSaver/XForceScreenSaver
XFreeGC/XFreeGC
XFreePixmap/XFreePixmap
XGrabButton/XGrabButton
XGrabKey/XGrabKey
XGrabKeyboard/XGrabKeyboard
XGrabPointer/XGrabPointer
XGrabServer/XGrabServer
XGetAtomName/XGetAtomName
XGetFontPath/XGetFontPath
XGetGeometry/XGetGeometry
XGetImage/XGetImage
XGetInputFocus/XGetInputFocus
XGetKeyboardControl/XGetKeyboardControl
XGetKeyboardMapping/XGetKeyboardMapping
XGetModifierMapping/XGetModifierMapping
XGetMotionEvents/XGetMotionEvents
XGetPointerControl/XGetPointerControl
XGetPointerMapping/XGetPointerMapping
GetProperty/GetProperty
XGetScreenSaver/XGetScreenSaver
XGetSelectionOwner/XGetSelectionOwner
XGetWindowAttributes/XGetWindowAttributes
ImageText16/ImageText16
ImageText8/ImageText8
XInstallColormap/XInstallColormap
XInternAtom/XInternAtom
XKillClient/XKillClient
XLookupColor/XLookupColor
ListExtensions/ListExtensions
XListFonts/XListFonts
XListFontsWithInfo/XListFontsWithInfo
XListHosts/XListHosts
XListInstalledColormaps/XListInstalledColormaps
XListProperties/XListProperties
XMapSubwindows/XMapSubwindows
XMapWindow/XMapWindow
NoOperation/NoOperation
XOpenDisplay/XOpenDisplay
OpenFont/OpenFont
PolyArc/PolyArc
PolyFillArc/PolyFillArc
PolyFillRectangle/PolyFillRectangle
PolyLine/PolyLine
PolyPoint/PolyPoint
PolyRectangle/PolyRectangle
PolySegment/PolySegment
PolyText16/PolyText16
PolyText8/PolyText8
PutImage/PutImage
XQueryBestSize/XQueryBestSize
XQueryColors/XQueryColors
QueryExtension/QueryExtension
QueryFont/QueryFont
XQueryKeymap/XQueryKeymap
XQueryPointer/XQueryPointer
XQueryTree/XQueryTree
QueryTextExtents/QueryTextExtents
XRecolorCursor/XRecolorCursor
XReparentWindow/XReparentWindow
RotateProperties/RotateProperties
XSendEvent/XSendEvent
XSetAccessControl/XSetAccessControl
XSetClipRectangles/XSetClipRectangles
XSetCloseDownMode/XSetCloseDownMode
XSetDashes/XSetDashes
SetFontPath/SetFontPath
XSetInputFocus/XSetInputFocus
XSetModifierMapping/XSetModifierMapping
XSetPointerMapping/XSetPointerMapping
XStoreColors/XStoreColors
XStoreNamedColor/XStoreNamedColor
XSetScreenSaver/XSetScreenSaver
XSetSelectionOwner/XSetSelectionOwner
TranslateCoords/TranslateCoords
XUngrabButton/XUngrabButton
XUngrabKey/XUngrabKey
XUngrabKeyboard/XUngrabKeyboard
XUngrabPointer/XUngrabPointer
XUngrabServer/XUngrabServer
XUnmapSubwindows/XUnmapSubwindows
XUnmapWindow/XUnmapWindow
XUninstallColormap/XUninstallColormap
XWarpPointer/XWarpPointer
