AllocColor/AllocColor
AllocColorCells/AllocColorCells
AllocColorPlanes/AllocColorPlanes
XAllocNamedColor/XAllocNamedColor
XAllowEvents/XAllowEvents
BadRequest/BadRequest
XBell/XBell
XChangeActivePointerGrab/XChangeActivePointerGrab
ChangeGC/ChangeGC
ChangeHosts/ChangeHosts
XChangeKeyboardControl/XChangeKeyboardControl
XChangeKeyboardMapping/XChangeKeyboardMapping
XChangePointerControl/XChangePointerControl
ChangeProperty/ChangeProperty
XChangeSaveSet/XChangeSaveSet
ChangeWindowAttributes/ChangeWindowAttributes
ClearArea/ClearArea
CloseFont/CloseFont
ConfigureWindow/ConfigureWindow
ConvertSelection/ConvertSelection
CopyArea/CopyArea
CopyColormapAndFree/CopyColormapAndFree
CopyGC/CopyGC
CopyPlane/CopyPlane
CirculateWindow/CirculateWindow
CreateColormap/CreateColormap
CreateCursor/CreateCursor
CreateGC/CreateGC
CreateGlyphCursor/CreateGlyphCursor
CreatePixmap/CreatePixmap
CreateWindow/CreateWindow
DeleteProperty/DeleteProperty
DestroySubwindows/DestroySubwindows
DestroyWindow/DestroyWindow
FillPoly/FillPoly
FreeColormap/FreeColormap
FreeColors/FreeColors
FreeCursor/FreeCursor
XForceScreenSaver/XForceScreenSaver
FreeGC/FreeGC
FreePixmap/FreePixmap
XGrabButton/XGrabButton
XGrabKey/XGrabKey
XGrabKeyboard/XGrabKeyboard
GrabPointer/GrabPointer
XGrabServer/XGrabServer
GetAtomName/GetAtomName
GetFontPath/GetFontPath
GetGeometry/GetGeometry
GetImage/GetImage
XGetInputFocus/XGetInputFocus
XGetKeyboardControl/XGetKeyboardControl
XGetKeyboardMapping/XGetKeyboardMapping
XGetModifierMapping/XGetModifierMapping
XGetMotionEvents/XGetMotionEvents
XGetPointerControl/XGetPointerControl
XGetPointerMapping/XGetPointerMapping
GetProperty/GetProperty
XGetScreenSaver/XGetScreenSaver
GetSelectionOwner/GetSelectionOwner
GetWindowAttributes/GetWindowAttributes
ImageText16/ImageText16
ImageText8/ImageText8
XInstallColormap/XInstallColormap
InternAtom/InternAtom
XKillClient/XKillClient
XLookupColor/XLookupColor
ListExtensions/ListExtensions
ListFonts/ListFonts
ListFontsWithInfo/ListFontsWithInfo
XListHosts/XListHosts
XListInstalledColormaps/XListInstalledColormaps
ListProperties/ListProperties
MapSubwindows/MapSubwindows
MapWindow/MapWindow
NoOperation/NoOperation
OpenDisplay/OpenDisplay
OpenFont/OpenFont
PolyArc/PolyArc
PolyFillArc/PolyFillArc
PolyFillRectangle/PolyFillRectangle
PolyLine/PolyLine
PolyPoint/PolyPoint
PolyRectangle/PolyRectangle
PolySegment/PolySegment
PolyText16/PolyText16
PolyText8/PolyText8
PutImage/PutImage
QueryBestSize/QueryBestSize
QueryColors/QueryColors
QueryExtension/QueryExtension
QueryFont/QueryFont
QueryKeymap/QueryKeymap
QueryPointer/QueryPointer
QueryTree/QueryTree
QueryTextExtents/QueryTextExtents
RecolorCursor/RecolorCursor
XReparentWindow/XReparentWindow
RotateProperties/RotateProperties
XSendEvent/XSendEvent
XSetAccessControl/XSetAccessControl
SetClipRectangles/SetClipRectangles
SetCloseDownMode/SetCloseDownMode
SetDashes/SetDashes
SetFontPath/SetFontPath
SetInputFocus/SetInputFocus
SetModifierMapping/SetModifierMapping
SetPointerMapping/SetPointerMapping
StoreColors/StoreColors
StoreNamedColor/StoreNamedColor
XSetScreenSaver/XSetScreenSaver
SetSelectionOwner/SetSelectionOwner
TranslateCoords/TranslateCoords
UngrabButton/UngrabButton
UngrabKey/UngrabKey
UngrabKeyboard/UngrabKeyboard
UngrabPointer/UngrabPointer
XUngrabServer/XUngrabServer
UnmapSubwindows/UnmapSubwindows
UnmapWindow/UnmapWindow
XUninstallColormap/XUninstallColormap
WarpPointer/WarpPointer
