XShapeCombineMask
XShapeCombineRectangles
XShapeCombineRegion
XShapeCombineShape
XShapeGetRectangles
XShapeInputSelected
XShapeOffsetShape
XShapeQueryExtension
XShapeQueryExtents
XShapeQueryVersion
XShapeSelectInput
