XChangeProperty
XConvertSelection
XDeleteProperty
XGetAtomName
XGetGeometry
XGetSelectionOwner
XGetWindowAttributes
XGetWindowProperty
XInternAtom
XListProperties
XQueryPointer
XQueryTree
XRotateWindowProperties
XSetSelectionOwner
XTranslateCoordinates
