AllowDeviceEvents
ChangeDeviceControl
ChangeFeedbackControl
ChangeKeyboardDevice
XChangeDeviceDontPropagateList
ChangePointerDevice
ChangeDeviceKeyMapping
CloseDevice
DeviceBell
XGetDeviceControl
GetFeedbackControl
XGetDeviceFocus
XGetDeviceDontPropagateList
GetExtensionVersion
GrabDevice
GrabDeviceButton
GrabDeviceKey
GetDeviceButtonMapping
XGetDeviceKeyMapping
XGetDeviceModifierMapping
GetDeviceMotionEvents
XGetSelectedExtensionEvents
ListInputDevices
Miscellaneous
OpenDevice
XQueryDeviceState
SetDeviceValuators
SetDeviceButtonMapping
XSetDeviceFocus
SetDeviceModifierMapping
SetDeviceMode
XSelectExtensionEvent
SendExtensionEvent
XUngrabDevice
UngrabDeviceButton
UngrabDeviceKey
