XAllocColor/XAllocColor
XAllocColorCells/XAllocColorCells
XAllocColorPlanes/XAllocColorPlanes
XAllocNamedColor/XAllocNamedColor
XcmsAllocColor/XcmsAllocColor
XcmsAddColorSpace/XcmsAddColorSpace
cmsadfs/cmsadfs
cmsanc/cmsanc
cmsccoc/cmsccoc
cmsccol/cmsccol
cmscielq/cmscielq
cmscieqc/cmscieqc
cmscieql/cmscieql
cmscproc/cmscproc
cmscprocd/cmscprocd
cmscrcc/cmscrcc
cmsdcc/cmsdcc
cmsdocc/cmsdocc
cmsfccc/cmsfccc
cmsfopr/cmsfopr
cmslkcl/cmslkcl
cmslqml/cmslqml
cmspoft/cmspoft
cmsqbk/cmsqbk
cmsqbl/cmsqbl
cmsqc/cmsqc
cmsqcl/cmsqcl
cmsqgr/cmsqgr
cmsqmc/cmsqmc
cmsqmil/cmsqmil
cmsqml/cmsqml
cmsqmlc/cmsqmlc
cmsqred/cmsqred
cmsqwt/cmsqwt
cmssnoc/cmssnoc
cmsstclr/cmsstclr
cmsstcls/cmsstcls
cmstqmc/cmstqmc
cmstqmiv/cmstqmiv
cmstqmv/cmstqmv
cmstqmvc/cmstqmvc
cmstqmvs/cmstqmvs
cmsvofcc/cmsvofcc
cmswapr/cmswapr
cmswpcc/cmswpcc
cmswpoc/cmswpoc
cmswpt/cmswpt
CopyColormapAndFree/CopyColormapAndFree
CreateColormap/CreateColormap
FreeColormap/FreeColormap
FreeColors/FreeColors
XLookupColor/XLookupColor
prsclr/prsclr
qryclr/qryclr
QueryColors/QueryColors
strclr/strclr
StoreColors/StoreColors
StoreNamedColor/StoreNamedColor
