XAllocClassHint/XAllocClassHint
XAllocIconSize/XAllocIconSize
XAllocStandardColormap/XAllocStandardColormap
XAllocSizeHints/XAllocSizeHints
XAllocWMHints/XAllocWMHints
XDefaultString/XDefaultString
XFreeStringList/XFreeStringList
XFetchName/XFetchName
XGetClassHint/XGetClassHint
XGetCommand/XGetCommand
XGetIconName/XGetIconName
XGetIconSizes/XGetIconSizes
XGetRGBColormaps/XGetRGBColormaps
XGetTransientForHint/XGetTransientForHint
XGetTextProperty/XGetTextProperty
XGetWMClientMachine/XGetWMClientMachine
XGetWMColormapWindows/XGetWMColormapWindows
XGetWMHints/XGetWMHints
XGetWMIconName/XGetWMIconName
XGetWMName/XGetWMName
XGetWMNormalHints/XGetWMNormalHints
XGetWMProtocols/XGetWMProtocols
XGetWMSizeHints/XGetWMSizeHints
XIconifyWindow/XIconifyWindow
rcnfgrwmwd/rcnfgrwmwd
stclsshnt/stclsshnt
stcmmnd/stcmmnd
sticnnm/sticnnm
sticnszs/sticnszs
strgbclrmp/strgbclrmp
strlstttxt/strlstttxt
strnm/strnm
sttrnsntfr/sttrnsntfr
sttxtprprt/sttxtprprt
stwmclntmc/stwmclntmc
stwmclrmpw/stwmclrmpw
stwmhnts/stwmhnts
stwmicnnm/stwmicnnm
stwmnm/stwmnm
stwmnrmlhn/stwmnrmlhn
stwmprprts/stwmprprts
stwmprprts/Test1
stwmprprts/Test2
stwmprtcls/stwmprtcls
stwmszhnts/stwmszhnts
txtprprtyt/txtprprtyt
wthdrwwdw/wthdrwwdw
